.showPanel {
  margin: 25px;
  border-radius: 5px;
  background: white;
  box-shadow: #777 0px 0px 20px 0px;
  
  h1 {
    color: #0568FA;
    padding: 20px;
    text-transform: uppercase;
  }

  > div {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr) auto;
    justify-items: center;
    align-items: center;
  }
}

.arrowLeft{
  width: 1vw;
  height: 1vw;
  border: 1vw solid;
  border-color: black transparent transparent black;
  transform: rotate(-45deg);
  margin-left: 2vw;
}

.arrowRight{
  width: 1vw;
  height: 1vw;
  border: 1vw solid;
  border-color: black transparent transparent black;
  transform: rotate(135deg);
  margin-right: 2vw;
  grid-column-start: 6;
}
