.showPanel {
  margin: 25px;
  border-radius: 5px;
  background: white;
  box-shadow: #777 0px 0px 20px 0px;

  h1 {
    color: #0568fa;
    padding: 20px;
    text-transform: uppercase;
  }

  > div {
    display: grid;
    grid-template-columns: auto repeat(4, 1fr) auto;
    justify-items: center;
    align-items: center;
  }
}

.arrowLeft {
  width: 2vw;
  height: 2vw;
  border: 0.5vw solid;
  border-color: #0568fa transparent transparent #0568fa;
  transform: rotate(-45deg);
  margin-left: 2vw;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: rotate(-45deg) scale(1.1);
  }
}

.arrowRight {
  width: 2vw;
  height: 2vw;
  border: 0.5vw solid;
  border-color: #0568fa transparent transparent #0568fa;
  transform: rotate(135deg);
  margin-right: 2vw;
  grid-column-start: 6;
  transition: 0.3s ease-in-out;

  &:hover {
    transform: rotate(135deg) scale(1.1);
  }
}
