.result-card {
  display: grid;
  grid-template-rows: repeat(3, auto);
  background-color: white;

  .options {
    text-align: end;
    font-size: 1.1em;
    line-height: 2em;
    padding: 0 1em;
    position: relative;

    .option-button {
      cursor: pointer;
    }

    .option-menu {
      position: absolute;
      text-align: center;
      right: 2em;
      top: 1.9em;
      background: white;
      box-shadow: #8c8c8c88 0 0 1px 1px;

      ul {
        list-style: none;

        li {
          cursor: pointer;
          border: {
            bottom: whitesmoke solid 1px;
          }

          &:hover {
            background: whitesmoke
          }
        }
      }
    }
  }

  .image {
    width: 100%;
    height: calc(calc(100vw - 12em) / 3);
    max-height: calc(calc(1250px - 12em) / 3);
    background: {
      image: url('https://amp.businessinsider.com/images/5b280a8c1ae66219008b5568-750-563.jpg');
      size: cover;
      position: center center;
    }
  }

  .info {
    padding: 1em;
    font-size: 1.1rem;

    .departs {
      margin-bottom: .9rem;
      font: {
        weight: bold;
        size: 1.3rem;
      }
    }

    .company {
      margin-bottom: .9rem;
    }

    .divider,
    .tickets {
      color: gray;
    }

    .price {
      margin-top: 1.5rem;

      .price-value {
        color: #0568FA;
        text-decoration: underline;
      }
    }
  }

}