.login-wrapper {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  grid-template-rows: 2fr 3fr 2fr;
  grid-gap: 0;
  height: 100vh;
}
.login-wrapper > *{
  grid-column: 2 / 3;
  justify-self: center
}
.login-wrapper h1 {
  align-self: flex-end
}
.login-wrapper .form {
  align-self: center
}
.login-wrapper .form > input {
  width: 100%;
}
.login-wrapper .form > button {
  display: block;
  width: 80%;
  margin: 1em auto;
}
.login-wrapper .form > input {
  border: none;
  border-bottom: #65A7FA solid 1px;
  outline: none;
  font-size: 1.2rem;
  padding: .75rem
}
.login-wrapper .form > input:focus {
  border-bottom-color: #0568FA
}
.login-wrapper .form input {
  margin: 1em 0;
}
.login-wrapper .remember {
  text-align: center;
}
.login-wrapper .remember label {
  font-size: 1.2em
}
.login-wrapper .remember label span {
  vertical-align: middle;
}
.login-wrapper .remember label input {
  margin-right: 1em;
  height: 1.2rem;
  width: 1.2rem;
  vertical-align: middle;
}
.login-wrapper .register {
  text-align: center;
}
.login-wrapper .register > * {
  line-height: 2.5em
}
.login-wrapper .register a {
  color: #0568FA;
  text-decoration: none; 
}

