.userInput {
  margin: 1.2rem 0;

  input {
    width: 100%;
    border: none;
    border-bottom: #65a7fa solid 1.5px;
    outline: none;
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 0.7rem;

    &:focus {
      border-bottom-color: #0568fa;
    }

    &[valid='no'] {
      border-bottom-color: #e98282;

      &:focus {
        border-bottom-color: #db1d1d;
      }
    }
  }
}

.input {
  width: 100%;
  border: none;
  border-bottom: #65a7fa solid 1px;
  outline: none;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1em 0;

  &:focus {
    border-bottom-color: #0568fa;
  }
}

.error {
  font-size: 0.8rem;
  color: #c53838;
  line-height: 0;
  text-align: left;
  padding: 0 0.5rem;
  margin: 0;
}
