* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#userInfo .id {
    font-size: 0.8em;
    color: gray;
    font-weight: 400;
}
#userInfo h1 button {
    border: none;
    background: none;
    cursor: pointer;
}
.remove {
    color: crimson;
    text-decoration: underline;
    cursor: pointer;
}
.showInfo, .add {
    color: lightseagreen;
    text-decoration: underline;
    cursor: pointer;
}